:root {
  --black: rgb(0, 0, 0);
  --white: rgb(223, 223, 223);
  --white2:rgba(223, 223, 223, 0.829);
  --gray: rgb(36, 36, 36);
  --gray2: rgba(5, 5, 5, 0.795);
  --red: rgb(255, 0, 0);
  --blue: rgb(0, 0, 255);
  --whiteishmaybe: rgb(197, 197, 197);
  /* --img1: url(https://cdna.artstation.com/p/assets/images/images/025/669/906/large/dino-rhinosaur-done-wp-pink-with-pic.jpg?1586544608);
  --img2: url(https://pbs.twimg.com/media/EZdgO14WoAINDOG.jpg:large); */
}

.light-theme {
  --image: var(--img2);
  --primary: var(--white);
  --primary1: var(--white2);
  --seconary: var(--black);
  --third: var(--blue);
  --theme: var(--whiteishmaybe);
}

.dark-theme {
  --image: var(--img1);
  --primary: var(--black);
  --primary1: var(--gray2);
  --seconary: var(--white);
  --third: var(--red);
  --theme: var(--gray);
}

body {
  background-image: var(--image);
  background-attachment: fixed;
}