:root {
  --black: rgb(0, 0, 0);
  --white: rgb(223, 223, 223);
  --white2:rgba(223, 223, 223, 0.829);
  --gray: rgb(36, 36, 36);
  --gray2: rgba(5, 5, 5, 0.795);
  --red: rgb(255, 0, 0);
  --blue: rgb(0, 0, 255);
  --whiteishmaybe: rgb(197, 197, 197);
  --img1: url(https://img.freepik.com/free-vector/minimal-doodle-frame-background-social-story-highlight_53876-97970.jpg);
  --img2: url(https://pbs.twimg.com/media/EZdgO14WoAINDOG.jpg:large);
}

